In [13]:
import pandas as pd

data = pd.read_csv('adult.data.csv', sep=', ')
data.columns

/Users/cueball/dev/.venv/lib/python3.10/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [10]:
# 2.1
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [12]:
# 2.2
women = data[data['sex'] == 'Female']
women['age'].mean()

36.85823043357163

In [19]:
# 2.3
data['native-country'].value_counts(normalize=True)['Germany'] * 100

0.42074874850281013

In [33]:
# 2.4
salary_threshold = 50000
data['salary'].unique()
filtered_data = data[data['salary'] == '<=50K']['age']
lmean = filtered_data.mean()
lstd = filtered_data.std()

filtered_data = data[data['salary'] == '>50K']
filtered_age = filtered_data['age']
gmean = filtered_age.mean()
gstd = filtered_age.std()

print(f'Salary less than 50k, age mean={lmean} std={lstd}.')
print(f'Salary greater than 50k, age mean={gmean} std={gstd}.')

Salary less than 50k, age mean=36.78373786407767 std=14.02008849082488.
Salary greater than 50k, age mean=44.24984058155847 std=10.519027719851826.

In [38]:
# 2.5
high_education = {'Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'}
actual = set(filtered_data['education'].unique())
len(actual.difference(high_education)) == 0

False

In [47]:
# 2.6
race_data = data.groupby('race')['age'].describe()
race_data.head()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

In [49]:
# 2.6
gender_data = data.groupby('sex')['age'].describe()
gender_data.head()

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

In [54]:
# 2.7
max_hrs = data['hours-per-week'].max()
print(max_hrs)

max_hrs_data = data[data['hours-per-week'] == max_hrs]
max_hrs_total = len(max_hrs_data)
print(max_hrs_total)

max_hrs_high_salary = max_hrs_data[max_hrs_data['salary'] == '>50K']
print(len(max_hrs_high_salary) * 100 / max_hrs_total)

99
85
29.41176470588235

In [55]:
# 2.8
little_salary_hrs = data[data['salary'] == '<=50K']['hours-per-week'].mean()
print(little_salary_hrs)

high_salary_hrs = data[data['salary'] == '>50K']['hours-per-week'].mean()
print(high_salary_hrs)

# Japan
jp_data = data[data['native-country'] == 'Japan']
little_salary_hrs = jp_data[jp_data['salary'] == '<=50K']['hours-per-week'].mean()
print(little_salary_hrs)

high_salary_hrs = jp_data[jp_data['salary'] == '>50K']['hours-per-week'].mean()
print(high_salary_hrs)

38.840210355987054
45.473026399693914
41.0
47.958333333333336