In [13]:
import pandas as pd

data = pd.read_csv('adult.data.csv', sep=', ')
data.columns

/var/folders/_t/sv37hdns16xfj_f4_v0l5mq80000gn/T/ipykernel_4933/3553125612.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('adult.data.csv', sep=', ')

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

## 2.1

In [14]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

## 2.2

In [15]:
women = data[data['sex'] == 'Female']
women['age'].mean()

36.85823043357163

## 2.3

In [16]:
data['native-country'].value_counts(normalize=True)['Germany'] * 100

0.42074874850281013

## 2.4

In [17]:
salary_threshold = 50000
data['salary'].unique()
filtered_data = data[data['salary'] == '<=50K']['age']
lmean = filtered_data.mean()
lstd = filtered_data.std()

filtered_data = data[data['salary'] == '>50K']
filtered_age = filtered_data['age']
gmean = filtered_age.mean()
gstd = filtered_age.std()

print(f'Salary less than 50k, age mean={lmean} std={lstd}.')
print(f'Salary greater than 50k, age mean={gmean} std={gstd}.')

Salary less than 50k, age mean=36.78373786407767 std=14.02008849082488.
Salary greater than 50k, age mean=44.24984058155847 std=10.519027719851826.

## 2.5

In [18]:
high_education = {'Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'}
actual = set(filtered_data['education'].unique())
len(actual.difference(high_education)) == 0

False

## 2.6 (race)

In [19]:
race_data = data.groupby('race')['age'].describe()
race_data.head()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

## 2.6 (gender)

In [20]:
gender_data = data.groupby('sex')['age'].describe()
gender_data.head()

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

## 2.7

In [21]:
max_hrs = data['hours-per-week'].max()
print('Max hour:', max_hrs)

max_hrs_data = data[data['hours-per-week'] == max_hrs]
max_hrs_total = len(max_hrs_data)
print('Number of people working at max hr:', max_hrs_total)

max_hrs_high_salary = max_hrs_data[max_hrs_data['salary'] == '>50K']
print('Percentage of people earning a lot:', len(max_hrs_high_salary) * 100 / max_hrs_total)

Max hour: 99
Number of people working at max hr: 85
Percentage of people earning a lot: 29.41176470588235

## 2.8

### Average time of work

In [22]:
low_salary_data = data[data['salary'] == '<=50K']
low_salary_data = low_salary_data.rename(columns={'hours-per-week': 'low_salary_hours_mean'})
low_salary_country_data = low_salary_data.groupby('native-country')['low_salary_hours_mean'].mean()

high_salary_data = data[data['salary'] == '>50K']
high_salary_data = high_salary_data.rename(columns={'hours-per-week': 'high_salary_hours_mean'})
high_salary_country_data = high_salary_data.groupby('native-country')['high_salary_hours_mean'].mean()

country_data = pd.merge(low_salary_country_data, high_salary_country_data, on='native-country', how='outer')
country_data = country_data.fillna(0)
country_data

                            low_salary_hours_mean  high_salary_hours_mean
native-country
?                                       40.164760               45.547945
Cambodia                                41.416667               40.000000
Canada                                  37.914634               45.641026
China                                   37.381818               38.900000
Columbia                                38.684211               50.000000
Cuba                                    37.985714               42.440000
Dominican-Republic                      42.338235               47.000000
Ecuador                                 38.041667               48.750000
El-Salvador                             36.030928               45.000000
England                                 40.483333               44.533333
France                                  41.058824               50.750000
Germany                                 39.139785               44.977273
Greece                                  41.809524               50.625000
Guatemala                               39.360656               36.666667
Haiti                                   36.325000               42.750000
Holand-Netherlands                      40.000000                0.000000
Honduras                                34.333333               60.000000
Hong                                    39.142857               45.000000
Hungary                                 31.300000               50.000000
India                                   38.233333               46.475000
Iran                                    41.440000               47.500000
Ireland                                 40.947368               48.000000
Italy                                   39.625000               45.400000
Jamaica                                 38.239437               41.100000
Japan                                   41.000000               47.958333
Laos                                    40.375000               40.000000
Mexico                                  40.003279               46.575758
Nicaragua                               36.093750               37.500000
Outlying-US(Guam-USVI-etc)              41.857143                0.000000
Peru                                    35.068966               40.000000
Philippines                             38.065693               43.032787
Poland                                  38.166667               39.000000
Portugal                                41.939394               41.500000
Puerto-Rico                             38.470588               39.416667
Scotland                                39.444444               46.666667
South                                   40.156250               51.437500
Taiwan                                  33.774194               46.800000
Thailand                                42.866667               58.333333
Trinadad&Tobago                         37.058824               40.000000
United-States                           38.799127               45.505369
Vietnam                                 37.193548               39.200000
Yugoslavia                              41.600000               49.500000

### Japan

In [23]:
print(f'From above, we can see Japan hours/week for <= 50k = 41.0 and for >50k = 47.95833')

From above, we can see Japan hours/week for <= 50k = 41.0 and for >50k = 47.95833